:root {
  --blue-600: 97 114 243;
  --blue-400: 45 49 166;
  --blue-200: 128 152 249;

  --grey-800: 9 9 11;
  --grey-400: 113 113 122;

  --white: 255 255 255;
  --white-additional: 245 248 255;
  --danger: 149 21 21
}
